<div class="flex justify-center items-center p-6">
  <div class="absolute -top-3 left-1/2 transform -translate-x-1/2 w-8 h-6 bg-gray-900 rounded-b-full"></div>

  <div class="w-full max-w-2xl bg-gradient-to-r from-gray-700 to-gray-800 shadow-2xl overflow-hidden text-white relative border border-gray-500"
       style="clip-path: polygon(
          0% 4%, 3% 0%, 6% 4%, 9% 0%, 12% 4%, 15% 0%, 18% 4%, 21% 0%, 24% 4%, 27% 0%, 30% 4%, 33% 0%, 36% 4%, 39% 0%, 42% 4%, 45% 0%, 48% 4%,
          51% 0%, 54% 4%, 57% 0%, 60% 4%, 63% 0%, 66% 4%, 69% 0%, 72% 4%, 75% 0%, 78% 4%, 81% 0%, 84% 4%, 87% 0%, 90% 4%, 93% 0%, 96% 4%, 100% 0%,
          100% 96%, 97% 100%, 94% 96%, 91% 100%, 88% 96%, 85% 100%, 82% 96%, 79% 100%, 76% 96%, 73% 100%, 70% 96%, 67% 100%, 64% 96%, 61% 100%, 58% 96%,
          55% 100%, 52% 96%, 49% 100%, 46% 96%, 43% 100%, 40% 96%, 37% 100%, 34% 96%, 31% 100%, 28% 96%, 25% 100%, 22% 96%, 19% 100%, 16% 96%, 13% 100%,
          10% 96%, 7% 100%, 4% 96%, 0% 100%
        );">

    <!-- Lado izquierdo del boleto -->
    <div class="p-8 space-y-6">
      <div class="text-center py-2 flex flex-col">
        <mat-icon class="text-yellow-400 text-4xl">confirmation_number</mat-icon>
        <h2 class="text-lg font-bold text-left">Recibo de Cliente</h2>
      </div>
      <h2 class="text-xl font-bold tracking-widest text-gray-200">{{ data.nombre }} {{ data.apellidos }}</h2>
      <div class="border-b border-gray-400"></div>

      <div class="flex items-center space-x-4">
        <mat-icon class="text-yellow-400">person</mat-icon>
        <span class="text-lg font-semibold">{{ data.wifi }}</span>
      </div>

      <div class="flex items-center space-x-4">
        <mat-icon class="text-yellow-400">key</mat-icon>
        <span class="text-lg font-semibold">{{ data.contrasena }}</span>
      </div>

      <div class="border-b border-gray-400"></div>

      <div class="flex justify-between text-gray-300 text-sm">
        <div>
          <span class="block font-bold">Fecha de pago</span>
          <span>{{ data.fechaPago }}</span>
        </div>
        <div>
          <span class="block font-bold">Cuota</span>
          <span>S/ {{ data.cuota }}</span>
        </div>
      </div>


    </div>

  </div>

</div>

<div class="flex justify-center mb-4">
  <button class="bg-yellow-500 text-black px-6 py-2 rounded-lg font-semibold hover:bg-yellow-400 transition">
    Enviar datos
  </button>
</div>
