.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: black !important;
  border-radius: 10px !important;
}

mat-toolbar button {
  color: white !important;
}

.mat-bottom-sheet-container {
  padding: 8px !important;
}

.mensualidad{
  background-color: white;
}

.deuda_Total {
  background-color: rgb(255, 197, 197);
}


